html,
body {
  overscroll-behavior: none;
  margin: 10px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 12px;
}

.ui-btn {
  outline: 0;
  border: 1px solid #000;
  border-radius: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 16px;
  margin-right: 8px;
  text-decoration: none;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  color: black;
}

.ui-btn:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}

.ui-btn:focus-visible {
  outline-offset: 1px;
}
