html,
body {
  overscroll-behavior: none;
  margin: 10px;
  height: 100%;
  font-family: "apparat-cond-light", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 12px;
}

.ui-btn {
  outline: 0;
  border: 1px solid #0000ff;
  border-radius: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 16px;
  margin-right: 8px;
  text-decoration: none;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  color: #0000ff;
}

.ui-btn:hover {
  box-shadow: 4px 4px 0 #ffffff;
  /* transform: translate(-4px, -4px); */
  background-color: #0000ff;
  color: #fff;
}

.ui-btn:focus-visible {
  outline-offset: 1px;
}
