body {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "apparat-cond-light", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  background-color: white;
  padding: 20px;
  width: 25%;
  margin: 10px 0;
}

.label {
  position: relative;
  width: calc(100%-20px);
}

.label img {
  max-width: 100%;
}

.volDef {
  top: 0;
  left: 0;
  position: absolute;
}

.category {
  top: 0;
  left: 0;
  position: absolute;
}

.hold {
  top: 0;
  left: 0;
  position: absolute;
}
