body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "apparat-cond-light", sans-serif;
  font-weight: 400;
  font-style: normal;
  overscroll-behavior: none;
}

.card {
  background-color: white;
  border: 1px solid #0000ff;
  color: blue;
  padding: 12px;
  width: 28%;
  margin: 10px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.label {
  position: relative;
  width: calc(100%-20px);
}

.label img {
  max-width: 100%;
}

.volDef {
  top: 0;
  left: 0;
  position: absolute;
}

.category {
  top: 0;
  left: 0;
  position: absolute;
}

.hold {
  top: 0;
  left: 0;
  position: absolute;
}
