html,
body {
  overscroll-behavior: none;
  font-family: "apparat-cond-light", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 2fr 2fr;
  gap: 3px;
  /* background-color: rgb(13, 0, 255); */
  padding: 4px;
  border: 1px solid black;
}
.container div {
  background-color: white;
  padding: 15px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
  border: 1px solid black;
}
.container div.content {
  grid-area: content;
}

.container div.content .images {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  position: relative;
}

.container div.content .images img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-group button,
.btn-group2 button {
  background-color: #ffffff; /* Green background */
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: rgb(0, 0, 0); /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  padding-top: 10px;
  grid-template-columns: 4fr repeat;
  column-gap: px;
}

.btn-group button:not,
.btn-group2 button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group :after,
.btn-group2 :after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover,
.btn-group2 button:hover {
  background-color: rgb(13, 0, 255);
}

.tittle {
  padding-bottom: -15px;
}

.images {
  position: relative;
}

button.clicked {
  background-color: rgb(13, 0, 255);
}
