html,
body {
  overscroll-behavior: none;
  font-family: "apparat-cond-light", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 600px) {
}
@media (min-width: 900px) {
}

h2 {
  color: blue;
}

.icon {
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 74px;
  text-align: center;
  color: #0000ff;
  border: 1px solid #0000ff;
  font-size: 16px;
  cursor: default;
  position: sticky;
  z-index: 6;
}

.icon:hover {
  background-color: #0000ff;
  color: #fff;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 2fr 2fr;
  gap: 3px;
  /* background-color: rgb(13, 0, 255); */
  padding: 4px;
  /* border: 1px solid black; */
}
.container div {
  background-color: white;
  padding: 15px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
  padding-top: 20%;
  padding-left: 20%;
  /* border: 1px solid black; */
}
.container div.content {
  grid-area: content;
}

.container div.content .images {
  /* border: 1px solid blue; */
  height: 500px;
  width: 500px;
  position: relative;
}

.container div.content .images img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-group button,
.btn-group2 button {
  background-color: #ffffff;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-right: 0.6px solid blue;
  border-left: 0.6px solid blue;
  color: blue; /* White text */
  padding: 10px 22px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  padding-top: 10px;
  grid-template-columns: 4fr repeat;
  column-gap: px;
}

.btn-group button:not,
.btn-group2 button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group :after,
.btn-group2 :after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover,
.btn-group2 button:hover {
  background-color: blue;
  color: #ffffff;
}

.tittle {
  padding-bottom: -15px;
  color: blue;
}

.images {
  position: relative;
}

.container div.content .images img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#wavyImg {
  z-index: 1;
}

#volumeImg {
  z-index: 2;
}

#wavy1Img {
  z-index: 3;
}

#productImg {
  z-index: 4;
}

#lightImg {
  z-index: 5;
}

button.clicked {
  background-color: blue;
  color: #ffffff;
}
